.NavBar {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 100%;
  background: lightgreen;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
  padding-left: 3%;
  padding-top: 10px;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

ul li:hover {
  background: lightblue;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: lightgreen;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

#containerArticle1 {
  background: beige;
  display: flex;
  align-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.containerContent {
  width: 800px;
  padding-left: 50px;
  padding-top: 50px;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
}

/* Index portion */

.imageProfile {
  float: left;
  padding-right: 15px;
}

.paragraph1 {
  line-height: 2;
}

/* Portfolio portion */
#containerArticle2 {
  background: beige;
  display: flex;
  align-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.containerContentProfile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 800px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 80px;
}

img {
  position: relative;
  padding-right: 100px;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 30px;
}

/* Contact portion */
form {
  align-content: center;
  margin: auto;
  width: 500px;
  height: 470px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
#containerArticle3 {
  background: beige;
  display: flex;
  align-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 960px) {
  ul {
    width: 100%;
    display: block;
  }
  h1 {
    width: 300%;
    display: block;
    padding-top: 65px;
  }
  ul li {
    display: block;
    text-align: center;
  }

  #containerArticle1 {
    width: 750px;
    height: 550px;
  }

  #containerArticle2 {
    width: 600px;
    height: 800px;
    padding-left: 150px;
  }
  #containerArticle3 {
    width: 850px;
    height: 600px;
  }
  .imageProfile {
    padding-bottom: 20px;
  }

  .paragraph1 {
    margin-right: 20px;
  }
  h2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  ul {
    width: 100%;
    display: block;
  }
  h1 {
    width: 300%;
    display: block;
    padding-top: 65px;
  }
  ul li {
    display: block;
    text-align: center;
  }

  #containerArticle1 {
    width: 600px;
    height: 750px;
  }

  .containerContent {
    width: 500px;
    height: 600px;
  }
  #containerArticle2 {
    width: 500px;
    height: 800px;
    padding-left: 150px;
  }
  #containerArticle3 {
    width: 650px;
    height: 600px;
  }
  .imageProfile {
    padding-bottom: 20px;
  }

  .paragraph1 {
    margin-right: 20px;
  }
  h2 {
    text-align: center;
  }
}

@media (max-width: 640px) {
  ul {
    width: 100%;
    display: block;
  }
  h1 {
    width: 150%;
    display: block;
    padding-top: 65px;
  }
  ul li {
    display: block;
    text-align: center;
  }

  #containerArticle1 {
    width: 400px;
    height: 960px;
  }

  .containerContent {
    width: 300px;
    height: 600px;
  }
  #containerArticle2 {
    width: 400px;
    height: 800px;
  }
  #containerArticle3 {
    width: 400px;
    height: 470px;
  }
  .imageProfile {
    padding-bottom: 20px;
  }

  .paragraph1 {
    margin-right: 20px;
  }
  h2 {
    text-align: center;
    padding-right: 20px;
  }
}
